{% extends "master.html" %}
{% block title %}zipfDistribution{% endblock %}
{% block content %}
    <!-- Breadcrumb-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">zipfDistribution</li>
        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu d-md-down-none">
        </li>
    </ol>

    <div class="container-fluid">
        <div class="animated fadeIn">

            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> System Log
                </div>
                <div class="card-body">
                    <div id="accordion" role="tablist">
                        <div class="card">
                            <div class="card-header" id="headingTwo" role="tab">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseTwo"
                                       aria-expanded="false" aria-controls="collapseTwo">Local variable</a>
                                </h5>
                            </div>
                            <div class="collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo"
                                 data-parent="#accordion" style="">
                                <div class="card-body">
                                    {{ context }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if request.path != '/zipfDistribution/load' %}

                <div class="card">
                    <form action="{% url 'zipfDistribution:load' %}" method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="select1">Select file to read</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="select1" name="selected_file[]" multiple>
                                        {% for file in file_list %}
                                            <option value="{{ file }}">{{ file }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-dot-circle-o"></i>
                                Submit
                            </button>
                            <button class="btn btn-sm btn-danger" type="reset"><i class="fa fa-ban"></i> Reset</button>
                        </div>
                    </form>
                </div>
            {% endif %}

            <div class="card">
                <div class="card-header">Data set
                    <span class="badge badge-pill badge-danger">{{ raw_collection.count }}</span>
                    <div class="card-header-actions">
                        <a class="card-header-action btn-minimize" href="#" data-toggle="collapse"
                           data-target="#dataset" aria-expanded="true">
                            <i class="icon-arrow-up"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body collapse show" id="dataset">
                    <table class="table table-responsive-sm table-striped">
                        <thead>
                        <tr>
                            <th style="width: 10%"></th>
                            <th style="width: 40%">Title</th>
                            <th style="width: 50%">Abstract</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for document in raw_collection %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ document.title }}</td>
                                <td>{{ document.abstract }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card">
                <div class="card-header">Porter's algorithm
                    <span class="badge badge-pill badge-danger">{{ porter_collection.count }}</span>
                    <div class="card-header-actions">
                        <a class="card-header-action btn-minimize" href="" data-toggle="collapse"
                           data-target="#porter" aria-expanded="true">
                            <i class="icon-arrow-up"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body collapse show" id="porter">
                    <table class="table table-responsive-sm table-striped">
                        <thead>
                        <tr>
                            <th style="width: 10%"></th>
                            <th style="width: 40%">Title</th>
                            <th style="width: 50%">Abstract</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for document in porter_collection %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ document.title }}</td>
                                <td>{{ document.abstract }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $('#select1').select2();
        });
    </script>
{% endblock %}