{% extends "master.html" %}
{% block title %}index{% endblock %}
{% block content %}
    <!-- Breadcrumb-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">
            <a href="#">Admin</a>
        </li>
        <li class="breadcrumb-item active">Dashboard</li>
        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group">
                <a class="btn" href="#">
                    <i class="icon-speech"></i>
                </a>
                <a class="btn" href="./">
                    <i class="icon-graph"></i>  Dashboard</a>
                <a class="btn" href="#">
                    <i class="icon-settings"></i>  Settings</a>
            </div>
        </li>
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                {{ context }}
            </div>

            <div class="card">
                <form enctype="multipart/form-data" action="{% url 'searchEngine:upload' %}" method="post">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="file-input">File input</label>
                            <input class="form-control col-md-9" id="file_input" type="file" name="file_input">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-dot-circle-o"></i>
                            Submit
                        </button>
                        <button class="btn btn-sm btn-danger" type="reset"><i class="fa fa-ban"></i> Reset</button>
                    </div>
                </form>
            </div>

            <div class="card">
                <form action="{% url 'searchEngine:load' %}" method="post">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="select1">Select file to read</label>
                            <div class="col-md-9">
                                <select class="form-control" id="select1" name="selected_file[]" multiple>
                                    {% for file in file_list %}
                                        <option value="{{ file }}">{{ file }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-dot-circle-o"></i>
                            Submit
                        </button>
                        <button class="btn btn-sm btn-danger" type="reset"><i class="fa fa-ban"></i> Reset</button>
                    </div>
                </form>
            </div>

            <div class="card">
                <div class="card-header">Result</div>
                <div class="card-body">
                    <label class="col-md-3">Characters: {{ context.0.0 }}</label>
                    <label class="col-md-3">Words: {{ context.0.1 }}</label>
                    <label class="col-md-3">Sentences: {{ context.0.2 }}</label>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <button class="btn btn-primary" type="button"><i
                                            class="fa fa-search"></i> Search</button>
                                </span>
                                <input class="form-control" id="input1-group2" type="text" name="input1-group2"
                                       placeholder="Keyword">
                            </div>
                        </div>
                    </div>

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th width="10px">index</th>
                            <th>Article</th>
                            <th>Abstract</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for title, abstract in context.2 %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ title }}</td>
                                <td>{{ abstract }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $('#select1').select2();
        });
    </script>
{% endblock %}