{% extends "master.html" %}
{% block title %}index{% endblock %}
{% block content %}
    <!-- Breadcrumb-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Dashboard</li>
        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group">
                <a class="btn" href="{% url 'searchEngine:clean_pkl_cache' %}">
                    <i class="fa fa-eraser"></i>  Clean Dict Cache</a>
                <a class="btn" href="{% url 'searchEngine:clean_upload_cache' %}">
                    <i class="fa fa-eraser"></i>  Clean Upload Cache</a>
            </div>
        </li>
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">

            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> System Log
                </div>
                <div class="card-body">
                    <div id="accordion" role="tablist">
                        <div class="card">
                            <div class="card-header" id="headingTwo" role="tab">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseTwo"
                                       aria-expanded="false" aria-controls="collapseTwo">Local variable</a>
                                </h5>
                            </div>
                            <div class="collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo"
                                 data-parent="#accordion" style="">
                                <div class="card-body">
                                    {{ context }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if request.path != '/searchEngine/load' %}

                <div class="card">
                    <form enctype="multipart/form-data" action="{% url 'searchEngine:upload' %}" method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="file-input">File input</label>
                                <input class="form-control col-md-9" id="file_input" type="file" name="file_input">
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-dot-circle-o"></i>
                                Submit
                            </button>
                            <button class="btn btn-sm btn-danger" type="reset"><i class="fa fa-ban"></i> Reset</button>
                        </div>
                    </form>
                </div>

                <div class="card">
                    <form action="{% url 'searchEngine:load' %}" method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="select1">Select file to read</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="select1" name="selected_file[]" multiple>
                                        {% for file in file_list %}
                                            <option value="{{ file }}">{{ file }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-dot-circle-o"></i>
                                Submit
                            </button>
                            <button class="btn btn-sm btn-danger" type="reset"><i class="fa fa-ban"></i> Reset</button>
                        </div>
                    </form>
                </div>

            {% endif %}

            <div class="card">
                <div class="card-header">Result</div>
                <div class="card-body">

                    {% for character ,word, sentence in context.0 %}
                        <div class="row">
                            <label class="col-2">File: {{ forloop.counter }}</label>
                            <label class="col-2">Characters: {{ character }}</label>
                            <label class="col-2">Words: {{ word }}</label>
                            <label class="">Sentences: {{ sentence }}</label>
                        </div>
                    {% endfor %}


                    <form action="{% if context %}{% url 'searchEngine:search_keyword' context.3 %}{% endif %}"
                          method="post" target="_blank">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="input-group">
                                <span class="input-group-prepend">
                                    <button class="btn btn-primary" type="submit"><i
                                            class="fa fa-search"></i> Search</button>
                                </span>
                                    <input class="form-control" id="input1-group2" type="text" name="search_keyword"
                                           placeholder="Keyword">
                                </div>
                            </div>
                        </div>
                    </form>

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th width="10px">index</th>
                            <th>Article</th>
                            <th>Abstract</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for title, abstract in context.2 %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ title }}</td>
                                <td>{{ abstract }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $('#select1').select2();
        });
    </script>
{% endblock %}