{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Charlychiu">
    <meta name="keyword" content="">
    <title> {% block title %}{% endblock %}</title>
    <!-- Icons-->
    <link href="{% static 'Dashboard/vendors/@coreui/icons/css/coreui-icons.min.css' %}" rel="stylesheet">
    <link href="{% static 'Dashboard/vendors/flag-icon-css/css/flag-icon.min.css' %}" rel="stylesheet">
    <link href="{% static 'Dashboard/vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'Dashboard/vendors/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">
    <!-- Main styles for this application-->
    <link href="{% static 'Dashboard/css/style.min.css' %}" rel="stylesheet">
    <link href="{% static 'Dashboard/vendors/pace-progress/css/pace.min.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>


</head>

<body class="app header-fixed sidebar-fixed sidebar-lg-show">
<header class="app-header navbar">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="">
        <h2>IR</h2>
        {#        <img class="navbar-brand-full" src="" width="89" height="25" alt="Charly Chiu">#}
        {#        <img class="navbar-brand-minimized" src="" width="30" height="30" alt="CC">#}
    </a>

</header>
<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Dashboard:index' %}">
                        <i class="nav-icon icon-speedometer"></i> Dashboard
                        <span class="badge badge-info">HOME</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'searchEngine:index' %}">
                        <i class="nav-icon icon-speedometer"></i> searchEngine
                    </a>
                </li>

                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" href="#">
                        <i class="nav-icon icon-cursor"></i> zipfDistribution</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'zipfDistribution:index' %}">
                                <i class="nav-icon icon-speedometer"></i> Index
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'zipfDistribution:chart' %}">
                                <i class="nav-icon icon-speedometer"></i> Chart
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'zipfDistribution:search' %}">
                                <i class="nav-icon icon-speedometer"></i> Search
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
    </div>
    <main class="main">
        {% block content %}

        {% endblock %}
    </main>
</div>


<footer class="app-footer">
    <div>
        <a href="#">IIR</a>
        <span>&copy; 2018 IIR CSIE NCKU.</span>
    </div>
    <div class="ml-auto">
        <span>Powered by</span>
        <a href="#">Charlychiu</a>
    </div>
</footer>
<!-- CoreUI and necessary plugins-->
<script src="{% static 'Dashboard/vendors/jquery/js/jquery.min.js' %}"></script>
<script src="{% static 'Dashboard/vendors/popper.js/js/popper.min.js' %}"></script>
<script src="{% static 'Dashboard/vendors/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'Dashboard/vendors/pace-progress/js/pace.min.js' %}"></script>
<script src="{% static 'Dashboard/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'Dashboard/vendors/@coreui/coreui/js/coreui.min.js' %}"></script>
<!-- Plugins and scripts required by this view-->
{#<script src="{% static 'Dashboard/vendors/chart.js/js/Chart.min.js' %}"></script>#}
<script src="{% static 'Dashboard/vendors/@coreui/coreui-plugin-chartjs-custom-tooltips/js/custom-tooltips.min.js' %}"></script>
{#<script src="{% static 'Dashboard/js/main.js' %}"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

{% block js %}
{% endblock %}
{% block javascript %}
{% endblock %}
</body>
</html>