{% extends "master.html" %}
{% block title %}indexing{% endblock %}
{% block content %}
    <!-- Breadcrumb-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">indexing</li>
        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group">
                <a class="btn" href="{% url 'searchEngine:clean_pkl_cache' %}">
                    <i class="fa fa-eraser"></i>  Clean Dict Cache</a>
                <a class="btn" href="{% url 'searchEngine:clean_upload_cache' %}">
                    <i class="fa fa-eraser"></i>  Clean Upload Cache</a>
            </div>
        </li>
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">

            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> System Log
                </div>
                <div class="card-body">
                    <div id="accordion" role="tablist">
                        <div class="card">
                            <div class="card-header" id="headingTwo" role="tab">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseTwo"
                                       aria-expanded="false" aria-controls="collapseTwo">Local variable</a>
                                </h5>
                            </div>
                            <div class="collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo"
                                 data-parent="#accordion" style="">
                                <div class="card-body">
                                    {{ context }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">Result</div>
                <div class="card-body">
                    <form action="{% url 'indexing:search_keyword' %}"
                          method="post" target="_blank">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="input-group">
                                <span class="input-group-prepend">
                                    <button class="btn btn-primary" type="submit"><i
                                            class="fa fa-search"></i> Search</button>
                                </span>
                                    <input class="form-control" id="input1-group2" type="text" name="search_keyword"
                                           placeholder="Keyword">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Result
                    <div class="card-header-actions">
                        <a class="card-header-action btn-minimize" href="#" data-toggle="collapse"
                           data-target="#dataset3" aria-expanded="true">
                            <i class="icon-arrow-up"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body collapse show" id="dataset3">
                    <table class="table table-bordered table-dark">
                        <thead>
                        <tr>
                            <th width="10px">index</th>
                            <th>docID</th>
                            <th>content</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for eachDoc in context %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ eachDoc.0 }}</td>
                                <td>{{ eachDoc.2 }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $('#select1').select2();
        });
    </script>
{% endblock %}